/* Encabezado *****************************************************************************************/

#DivNombreFormulario100 {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background-color: #000000;
    font-family: 'Anton', sans-serif;
    color: #fff;
    /*text-shadow: 10px 5px 2px gray;*/
}

#DivNombreFormulario90 {
    float: left;
    width: 90%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background-color: #000000;
    font-family: 'Anton', sans-serif;
    color: #fff;
    /*text-shadow: 10px 5px 2px gray;*/
}

#DivNombreFormulario {
    /*float: left;
    width: 80%;
    height: 45px;
    line-height: 45px;
    text-align: center;*/
    font-size: 26px;
    font-weight: bold;
    background-color: #000;
    font-family: 'Anton', sans-serif;
    color: #fff;
    /*text-shadow: 10px 5px 2px gray;*/
}


/* Login ***********************************************************************************************/
#DivLogin {
    margin-top: 50px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    border: 1px solid aqua;
    padding: 15px;
}

#DivImagenLogIn {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

#ImagenLogIn {
    border-radius: 150px;
    height: 100px;
    width: 100px;
}

.DivInputLogIN {
    background-color: #fff;
    height: 35px;
    line-height: 35px;
    width: 80%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding-left: 15px;
    color: blue;
}

.InputLogIN {
    font-family: 'Karla', sans-serif;
    width: 200px;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    height: 30px;
    color: blue;
    font-weight: bold;
    background-color: transparent
}

#BtnInputLogIN a {
    background-color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

    #BtnInputLogIN a:hover {
        text-decoration: none;
        background-color: green;
        font-family: 'Anton', sans-serif;
        color: #fff;
        font-size: 21px;
        width: 92%;
        border: 1px solid #fff;
    }

/* Indicadores *****************************************************************************************/
/* Dimensionales ***************************************************************************************/

.ListaGrilla {
    width: 95%;
    display: inline-block;
}

.LinkListaGrilla a {
    float: left;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #fff;
    margin-bottom: 2px;
}

.LinkListaGrillaObjeto a {
    width: 90%;
    text-align: left;
    color: #fff;
    padding-left: 10px;
}

    .LinkListaGrillaObjeto a:hover {
        text-decoration: none;
        color: blue;
        background-color: #fff;
    }

.LinkListaGrillaElimina a {
    width: 10%;
    text-align: center;
    color: red;
}

    .LinkListaGrillaElimina a:hover {
        text-decoration: none;
        color: #fff;
        background-color: red;
    }

.LinkListaGrillaObjetoEliminado a {
    width: 90%;
    text-align: left;
    padding-left: 10px;
    color: red;
    background-color: lightcoral;
}

    .LinkListaGrillaObjetoEliminado a:hover {
        background-color: red;
        color: #fff;
    }

li.Formulario {
    margin-bottom: 15px;
    clear: both;
}

SpanDatoFormulario {
    float: left;
    padding-left: 15px;
    font-family: 'Karla', sans-serif;
    text-align: left;
    width: 100%;
}

input {
    width: 100%;
    font-family: 'Karla', sans-serif;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-bottom: 1px double;
    padding-bottom: 5px;
    color: #fff;
    margin-bottom: 3px;
}

InputDatoFormulario {
    padding-left: 2px;
}

InputDatoFormulario_C {
    text-align: center;
}

InputDatoFormularioPorc {
    padding-left: 5px;
}

TextareaDatoFormulario {
    width: 100%;
    font-family: 'Karla', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px double;
    font-size: 18px;
    padding-left: 5px;
    color: #fff;
    margin-bottom: 3px;
    vertical-align: bottom;
    height: 50px;
}
/* Botones *********************************************************************************************/
#DivBtnIndicadores {
    float: left;
    width: 10%;
    /*height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: green;
    color: #fff;*/
}

#DivBtnVolver {
    float: left;
    width: 10%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: red;
    color: #fff;
}

div.Cabecera {
    height: 45px;
    line-height: 45px;
    text-align: center;
}

div.Porc10_L {
    float: left;
    width: 10%;
}

div.Porc20_L {
    float: left;
    width: 20%;
}

div.Porc40_L {
    float: left;
    width: 40%;
}

div.Porc60_L {
    float: left;
    width: 60%;
}

div.Porc80_L {
    float: left;
    width: 80%;
}

div.Porc10_R {
    float: right;
    width: 10%;
}

div.Porc20_R {
    float: right;
    width: 20%;
}

div.Porc40_R {
    float: right;
    width: 40%;
}

div.Porc60_R {
    float: right;
    width: 60%;
}

div.Porc80_R {
    float: right;
    width: 80%;
}


#BtnIndicadores a {
    text-decoration: none;
    background-color: green;
    color: #fff;
}

    #BtnIndicadores a:hover {
        background-color: #fff;
        color: green;
    }

#BtnVolver a {
    text-decoration: none;
    background-color: red;
    color: #fff;
}

    #BtnVolver a:hover {
        background-color: #fff;
        color: red;
    }

.Boton a {
    text-decoration: none;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
}

    .Boton a:hover {
        font-weight: bold;
        text-decoration: none;
    }

.BtnGuardar a {
    color: #fff;
    background-color: darkblue;
    border: 1px solid;
    border-radius: 10px;
    display: block;
}

    .BtnGuardar a:hover {
        background-color: #fff;
        color: darkblue;
    }

.BtnNuevo a {
    color: #fff;
    background-color: darkgreen;
    border: 1px solid;
    border-radius: 10px;
    display: block;
}

    .BtnNuevo a:hover {
        background-color: #fff;
        color: darkgreen;
    }

.BtnInfo a {
    color: #fff;
    background-color: lightseagreen;
    border: 1px solid;
    border-radius: 10px;
    display: block;
}

    .BtnInfo a:hover {
        background-color: #fff;
        color: lightseagreen;
    }

.BtnEliminar a {
    color: #fff;
    background-color: red;
    border: 1px solid;
    border-radius: 10px;
    display: block;
}

    .BtnEliminar a:hover {
        background-color: #fff;
        color: red;
    }

.BtnBuscar a {
    color: #fff;
    background-color: darkmagenta;
    border: 1px solid;
    border-radius: 10px;
    display: block;
}

    .BtnBuscar a:hover {
        background-color: #fff;
        color: darkmagenta;
    }

.BtnAlerta a {
    color: red;
    background-color: greenyellow;
    border: 1px solid;
    border-radius: 10px;
    display: block;
}

    .BtnAlerta a:hover {
        background-color: yellowgreen;
        color: red;
    }

.LinkBtn {
    display: block;
    font-size: 25px;
}

a .BtnIndicadores {
    display: block;
    color: #fff;
    width: 125px;
    background-color: black;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

    a.BtnIndicadores :hover {
        background-color: blue;
        text-decoration: none;
    }

.BtnImprimir a {
    border: 1px solid;
    border-radius: 10px;
    display: block;
    background-color: #fff;
    color: gray;
    border-radius: 15px;
}

    .BtnImprimir a:hover {
        background-color: gray;
        color: #fff;
    }
