/* ***** De Sitio *****************************************************************************************/

body {
    margin: 0px;
    padding: 0px;
    background: -webkit-gradient(linear, 80% 20%, 27% 100%, from(#306D75), to(#5F4E93));
}

* {
    outline: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ***** Fuentes *****************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Anton|Karla&display=swap');

/*
font-family: 'Anton', sans-serif;
font-family: 'Karla', sans-serif;
*/

.AAEMM {
    font-family: 'Anton', sans-serif;
}

.AAEMM {
    font-family: 'Karla', sans-serif;
}


/* ******************************************************************************************************/

header {
    width: 1260px;
    margin: auto;
    height: 110px;
    background: rgb(15, 15, 82);
    background: linear-gradient(90deg, rgba(15, 15, 82, 1) 12%, rgba(97, 94, 149, 1) 75%, rgba(10, 52, 61, 1) 93%);
}

#Contenedor {
    padding-top: 1px;
    width: 1260px;
    margin: auto;
    height: 500px;
    background: -moz-linear-gradient(top, #65b6cf, #2c2c2c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#65b6cf), to(#2c2c2c));
}

footer {
    width: 1260px;
    margin: auto;
    height: 20px;
}


/* ***** MP *****************************************************************************************/

#DivHeaderLogo {
    float: left;
    padding: 5px 5px;
    width: 100px;
    height: 100px;
}

#DivHeaderTitulo {
    float: left;
    width: 820px;
    height: 110px;
    line-height: 110px;
    color: #fff;
    text-shadow: 15px 10px 2px gray;
}

#DivHeaderUsuarioFecha {
    float: left;
    width: 250px;
}

#DivHeaderSalir {
    float: left;
    width: 80px;
    height: 110px;
    line-height: 130px;
    text-align: center;
}


/* ***** HEADER Internos *****************************************************************************************/

#LogoHeader {
    width: 100px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 10px;
}

#DivHeaderUsuario {
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 2px;
}

#DivHeaderFecha {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

#SpanNombreInstitucion {
    font-size: 20px;
    font-weight: bold;
}

#SpanFecha {
    font-size: 20px;
}

#SpanUsuario {
    font-size: 22px;
    color: rgb(38, 179, 197);
}



#DivNombreFormulario100 {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background-color: #000000;
    font-family: 'Anton', sans-serif;
    color: #fff;
    text-shadow: 10px 5px 2px gray;
}

#DivNombreFormulario90 {
    float: left;
    width: 90%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background-color: #000000;
    font-family: 'Anton', sans-serif;
    color: #fff;
    text-shadow: 10px 5px 2px gray;
}

#DivNombreFormulario80 {
    float: left;
    width: 80%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background-color: #000000;
    font-family: 'Anton', sans-serif;
    color: #fff;
    text-shadow: 10px 5px 2px gray;
}

#DivBtnIndicadores {
    float: left;
    width: 10%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: green;
    color: #fff;
}

#DivBtnVolver {
    float: left;
    width: 10%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: red;
    color: #fff;
}

.Btn {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 95px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    color: #000000;
    background-color: gray;
    border: 1px double #000000;
}

#DivContenedor80 {
    float: left;
    width: 79%;
    height: 450px;
}

#DivContenedor60 {
    float: left;
    width: 59%;
    height: 450px;
}
#DivContenedor40 {
    float: left;
    width: 39%;
    margin-left: 1px;
    height: 450px;
}
#DivContenedor20 {
    float: left;
    width: 19%;
    margin-right: 1px;
    height: 450px;
}


/* **** Iconos **** */
#IcSalir {
    font-size: 60px;
    color: #fff;
}

    #IcSalir :hover {
        font-size: 70px;
        color: red;
    }

#IcIndicadores {
    font-size: 30px;
    color: #fff;
}

    #IcIndicadores :hover {
        color: red;
    }
