/* De Sitio *****************************************************************************************/

/*@import url('https://fonts.googleapis.com/css?family=Anton|Karla&display=swap');*/

body {
    margin: 0px;
    padding: 0px;
    background: -webkit-gradient(linear, 80% 20%, 27% 100%, from(#306D75), to(#5F4E93));
}

* {
    outline: none;
}

li {
    list-style-type: none;
}

    li.linea {
        clear: both;
        padding-top: 5px;
    }

a {
    text-decoration: none;
}

ul {
    padding: 0px;
}



.Anton {
    font-family: 'Anton', sans-serif;
}

.Karla {
    font-family: 'Karla', sans-serif;
}

/* Estructura *****************************************************************************************/

header {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 110px;
    background: rgb(15, 15, 82);
    background: linear-gradient(90deg, rgba(15, 15, 82, 1) 12%, rgba(97, 94, 149, 1) 75%, rgba(10, 52, 61, 1) 93%);
}

#Contenedor {
    width: 1260px;
    margin: auto;
    /*height: 500px;*/
    background: -moz-linear-gradient(top, #65b6cf, #2c2c2c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#65b6cf), to(#2c2c2c));
}

footer {
    width: 1260px;
    margin: auto;
    height: 20px;
}
/* Estructura Interna Header *****************************************************************************************/

#DivHeaderLogo {
    float: left;
    padding: 5px 5px;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

#LogoHeader {
    width: 100px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 10px;
}

#DivHeaderInstitucion {
    float: left;
    width: 800px;
    height: 110px;
    line-height: 110px;
    color: #fff;
    /*text-shadow: 15px 10px 2px gray;*/
}

#SpanNombreInstitucion {
    font-size: 20px;
    font-weight: bold;
}

#DivHeaderUsuarioFecha {
    float: left;
    width: 250px;
}

#DivHeaderUsuario {
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 2px;
}

#SpanUsuario {
    font-size: 13px;
    color: greenyellow;
    /*color: rgb(38, 179, 197);*/
    font-weight: bold;
}

#DivHeaderFecha {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

#SpanFecha {
    font-size: 20px;
}

#DivHeaderSalir {
    float: left;
    width: 80px;
    height: 110px;
    line-height: 130px;
    text-align: center;
}

/* Estructura Interna Section ****************************************************************************************/
#DivContenedor80 {
    float: left;
    width: 79%;
    height: 450px;
}

.DivContenedor60 {
    border-radius: 10px;
    background-color: rgba(28, 122, 136, 0.2);
    float: left;
    width: 59%;
    /*height: 390px;*/
}

#DivContenedor40 {
    float: left;
    width: 39%;
    margin-left: 1px;
    height: 440px;
}

#DivContenedor20 {
    float: left;
    width: 19%;
    margin-right: 1px;
    height: 450px;
}

/* Iconos *****************************************************************************************/
#IcSalir {
    font-size: 60px;
    color: #fff;
}

    #IcSalir :hover {
        font-size: 70px;
        color: red;
    }

#IcIndicadores {
    font-size: 30px;
    color: #fff;
}

    #IcIndicadores :hover {
        color: red;
    }
