<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpUsername" value="suscripcion@utedyc.org.ar" />
    <add key="smtpPassword" value="Utedyc2020" />
    <add key="smtpFrom" value="suscripcion@utedyc.org.ar" />
  </appSettings>
  <connectionStrings>
    <add name="strConn" connectionString="Data Source=190.210.197.1\mssqlserver_2012,2109;Initial Catalog=Db_AAEMM2020;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
